body {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'tnum';
  @apply text-14px overflow-x-hidden;
}

body,
.el-button,
.el-input__inner,
.el-textarea__inner {
  font-family: 'Inter', sans-serif;
}

a {
  @apply text-blue-600 cursor-pointer;
}

.card-button,
.el-alert,
.el-button,
.el-dialog,
.el-dropdown-menu,
.el-input__inner,
.el-message,
.el-message-box,
.el-picker-panel,
.el-popover,
.el-select-dropdown,
.el-textarea__inner,
.el-tooltip__popper,
.ivu-btn-large,
.ivu-select-dropdown {
  @apply rounded-lg;
}

.el-pagination .el-select .el-input .el-input__inner {
  @apply rounded-md;
}

.el-checkbox__inner {
  @apply rounded;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner,
.el-select,
.el-upload,
.el-upload-dragger {
  @apply w-full;
}

.el-input__inner:focus,
.el-textarea__inner:focus {
  @apply ring-3 ring-blue-200 ring-opacity-50;
}

.el-dropdown-menu,
.el-picker-panel,
.el-popover,
.el-select-dropdown,
.ivu-select-dropdown {
  @apply shadow-none border border-gray-200;
}

.el-popper[x-placement^="top"] .popper__arrow {
  @apply border-t-gray-200;
}

.el-popper[x-placement^="bottom"] .popper__arrow {
  @apply border-b-gray-200;
}

.el-popper[x-placement^="left"] .popper__arrow {
  @apply border-l-gray-200;
}

.el-popper[x-placement^="right"] .popper__arrow {
  @apply border-r-gray-200;
}

.el-form-item {
  @apply mb-4;
}

.el-form--label-top .el-form-item__label {
  @apply p-0 font-medium;
}

.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus {
  @apply ring-3 ring-red-200 ring-opacity-50;
}

.el-form-item__error {
  @apply pt-2;
}

.navbar {
  @apply w-screen flex h-14 items-center;
  @apply space-x-8 px-8;
  @apply border-b border-gray-100;
}

.navbar a {
  @apply block px-4 py-2 mx-2;
  @apply mx-2;
}

.navbar a.nuxt-link-active,
.navbar a.nuxt-link-exact-active {
  @apply block text-blue-600 px-4 py-2 mx2;
  @apply font-bold rounded-lg bg-blue-50;
}

.el-table .el-table__cell {
  @apply py-1.5;
}

.el-select.el-select__primary .el-input .el-input__inner {
  @apply bg-blue-600 text-white border border-blue-600;
}

.remixicons {
  @apply inline-block leading-none;
  @apply not-italic font-normal;
  @apply normal-case;
}

.el-tag--mini,
.el-table--mini {
  @apply text-10px;
}

.el-tag--mini {
  @apply leading-4;
}

.el-table.el-table--mini .el-table__cell {
  @apply py-0.5;
}

.card-button {
  @apply flex items-start space-x-2 press-start;
  @apply px-1 pt-3 pb-2 border border-gray-200;
  @apply text-black bg-gray-100;
}

.card-button div:nth-child(1) {
  @apply transform -rotate-90 pt-12px;
}

.card-button:hover {
  @apply text-blue-600 bg-blue-100 border-blue-200;
}

.el-loading-spinner i {
  @apply mb-4;
}

.el-loading-spinner .el-loading-text {
  @apply press-start text-xs;
}

.el-table thead {
  @apply text-black;
}

.el-table th.el-table__cell,
.el-table thead.is-group th.el-table__cell {
  @apply bg-gray-100;
}

.el-radio-group {
  @apply grid;
}

.el-radio.blk {
  @apply block mb-2 font-normal;
}

table.plain {
  @apply w-full text-xs;
}

.el-table .validated-row {
  background: #e1bee7;
}

.el-table .stock-row {
  background: #64b5f6;
}

.el-table .coming-row {
  background: #a5d6a7;
}

.el-table .issued-row {
  background: #ffccbc;
}

.el-table .draft-row {
  background: #ffa726;
}

.el-table .hold-row {
  background: #b0bec5;
}

.el-table .cancel-row {
  background: #ef5350;
}

.el-table .outpo-complete {
  background: #64b5f6;
}

.el-table .outpo-close {
  background: #a5d6a7;
}

.el-table .outpo-partial {
  background: #f48fb1;
}

.el-table .outpo-paid {
  background: #fff176;
}

.el-table .outpo-cancel {
  background: #e53935;
}

.el-breadcrumb__inner.is-link,
.el-breadcrumb__inner a {
  @apply text-blue-600;
}

.el-tabs--border-card {
  @apply shadow-none;
}

.el-dialog__header {
  @apply py-4 border-b border-gray-100;
}

.el-dialog__body {
  @apply max-h-[400px] overflow-y-scroll;
}

.el-dialog__footer {
  @apply py-3 border-t border-gray-100;
}

.el-input.is-disabled .el-input__inner {
  @apply text-gray-400;
}

.el-table__body tr.hover-row > td.el-table__cell {
  @apply bg-transparent;  
}

.el-table th.el-table__cell.is-leaf:first-child .el-checkbox__input {
  @apply -mr-[3px];
}

.el-table td.el-table__cell .el-checkbox__input {
  @apply -mr-[5px];
}

.ivu-btn-large {
  @apply text-sm font-medium;
}

.ivu-dropdown-item-focus,
.ivu-dropdown-item:hover {
  background-color: #e9effd;
  color: #5182ef;
}

.ivu-dropdown-menu {
  @apply min-w-[140px];
}

.el-badge__content {
  @apply bg-red-600 leading-[17px] border-0;
}

.el-badge__content.is-fixed {
  @apply right-0;
}
