@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'tnum';
  font-size: 14px;
  @apply overflow-x-hidden;
}

body,
.el-button,
.el-input__inner,
.el-textarea__inner {
  font-family: 'Inter', sans-serif;
}

a {
  @apply text-blue-600;
}

.el-alert,
.el-button,
.el-input__inner {
  @apply rounded-lg;
}

.el-input__inner:focus,
.el-textarea__inner:focus {
  @apply ring-3 ring-blue-200 ring-opacity-50;
}

.el-form-item {
  @apply mb-4;
}

.el-form--label-top .el-form-item__label {
  @apply p-0 font-medium;
}

.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus {
  @apply ring-3 ring-red-200 ring-opacity-50;
}

.el-form-item__error {
  @apply pt-2;
}

.navbar {
  @apply w-screen flex h-14 items-center;
  @apply space-x-8 px-8;
  @apply border-b border-gray-100;
}

.navbar a {
  @apply block px-4 py-2 mx-2;
  @apply mx-2;
}

.navbar a.nuxt-link-active,
.navbar a.nuxt-link-exact-active {
  @apply block text-blue-600 px-4 py-2 mx2;
  @apply font-bold rounded-lg bg-blue-50;
}

.el-table .el-table__cell {
  @apply py-1.5;
}

.el-select.el-select__primary .el-input .el-input__inner {
  @apply bg-blue-600 text-white border border-blue-600;
}

.heroicons {
  @apply w-4 h-4 inline-block leading-none;
  @apply align-middle not-italic font-normal;
  @apply normal-case;
}

.heroicons-right {
  @apply ml-[4px];
}
