$--color-primary: #2563eb;
$--color-danger: #dc2626;
$--color-success: #059669;
$--color-text-regular: #000000;
$--color-text-placeholder: #64748b;

$--border-color-base: #eaeff5;
$--border-color-light: #e2e8f0;
$--border-color-lighter: #e2e8f0;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
